<div>
  <h2>
    <span id="desks-page-heading" jhiTranslate="bookings.desks.title" data-cy="desksPageHeading"></span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bookings.desks.refreshListLabel"></span>
      </button>
      <button class="btn btn-primary jh-create-entity" [routerLink]="['./new']">
        <fa-icon icon="plus"></fa-icon> <span jhiTranslate="bookings.desks.createLabel">Add a desk</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="table-responsive" *ngIf="desks">
    <table class="table table-striped" aria-describedby="desks-page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id"></span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="bookings.desks.name"></span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="monitors"><span jhiTranslate="bookings.desks.monitors"></span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dockingStationType">
            <span jhiTranslate="bookings.desks.dockingStationType"></span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="desks">
        <tr *ngFor="let desk of desks; trackBy: trackIdentity">
          <td>
            <a [routerLink]="['./', desk.name, 'view']">{{ desk.id }}</a>
          </td>
          <td>{{ desk.name }}</td>
          <td>{{ desk.monitors }}</td>
          <td>{{ desk.dockingStationType.name }}</td>

          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['./', desk.name, 'view']" class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['./', desk.name, 'select']" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="bookings.desks.book"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="desks">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
